html {
  overflow: hidden;
  font-family: "Circular Std";
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 15fr 1fr;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

::-webkit-scrollbar {
  width: 0.5vh;
  height: 0.5vh;
}

::-webkit-scrollbar-track {background: #4b4d53;}
::-webkit-scrollbar-thumb {background: #27282b;}
::-webkit-scrollbar-thumb:hover {background: #222226;}

.channel-navigation {
  overflow: auto;
  box-sizing: border-box;
  padding: 1vh;
  background: #2B2D31;
  grid-column: 1;
  grid-row: 1;
}

.channel-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 1fr;
  background: #313338;
  grid-column: 2;
  grid-row: 1;
  overflow: auto;
  box-sizing: border-box;
}

.quick-access-container {
  display: flex;
  align-items: center;
  padding: 0.5vh;
  box-sizing: border-box;
  background: #1E1F22;
  grid-column: 1;
  grid-row: 2;
}

.guild-container {
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 1vh;
  background: #1E1F22;
  grid-column: 2;
  grid-row: 2;
}

.home-icon {
  width: 4vh;
  height: 4vh;
  padding: 0;
  border-style: solid;
  border-width: 0;
  background: transparent;
  transition: transform 0.3s ease-in;
  cursor: pointer;
  margin-right: 0.5vw;
}

.home-icon:hover {transform: scale(1.05);}

.round-border {border-radius: 0.5vh;}

.client-username {
  font-weight: bold;
  color: #ffffff;
}

.client-discriminator {color: #989AA2;}

.avatar-container {
  margin-left: 0.5vw;
  width: 3vh;
  height: 3vh;
}

.client-username-container {
  font-size: 1.2vh;
  display: inline;
  box-sizing: border-box;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 0.5vw;
  background: transparent;
  border-radius: 0.5vh;
  border-width: 0;
  transition: background 0.3s ease-in;
}

.client-username-container:hover {background: #404145;}

.settings-icon {
  cursor: pointer;
  margin-left: 0.5vw;
  height: 3vh;
  width: 3vh;
  border-radius: 0.5vh;
  background: transparent;
  transition: background 0.3s ease-in;
}

.settings-icon:hover {background: #404145;}

.channel {
  text-decoration: none;
  width: 100%;
  padding: 2%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  border-radius: 0.2vh;
  border-width: 0;
  color: #989AA2;
  margin-bottom: 0.5vh;
}

.channel:hover {
  background: #404249;
  color: #b0b2ba;
}

.selected-channel {background: #404249;}
.selected-channel:hover {background: #35373C;}

.channel-avatar {
  height: 2vh;
  width: 2vh;
}

.channel-name {
  margin-left: 5%;
  font-size: 1.4vh;
  overflow: hidden;
  white-space: nowrap;
}

.button {
  width: 100%;
  background: #5865F2;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.4vh;
  border-radius: 0.2vh;
  border-width: 0;
  font-family: "Circular Std";
  margin-bottom: 1vh;
}

.button:hover {background: #5864e4;}

.channel-content-name {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5%;
  color: #E0E1E5;
  font-size: 2vh;
  box-shadow: 0 0 0.5vh #000000; 
  user-select: text;
  box-sizing: border-box;
}

.channel-content-icon {
  display: inline-block;
  height: 3vh;
  width: 3vh;
  margin-right: 0.5%;
  user-select: none;
}

.channel-messages-container {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  padding: 0.5%;
  padding-bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.message {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.1%;
  margin-bottom: 0.5%;
}

.message-author-avatar {
  display: inline-block;
  width: 3vh;
  height: 3vh;
  margin-right: 0.5%;
}

.message-content-container {
  width: 100%;
  display: inline-block;
  font-size: 1.5vh;
}

.message-author {color: #ffffff;}

.message-content{
  color: #E0E1E5;
  font-size: 1.2vh;
  user-select: text;
}

.message-timestamp {
  margin-left: 0.3%;
  color: #989AA2;
  font-size: 1vh;
}

.channel-message-form {
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  padding: 0.5%;
}

#submitMessage {width: 100%;}

.message-input {
  width: 100%;
  outline: 0;
  border-style: solid;
  border-radius: 0.5vh;
  border-width: 0;
  background: #383A40;
  font-size: 1.2vh;
  padding: 0.4%;
  box-sizing: border-box;
  color: #E0E1E5;
  font-family: "Circular Std";
}
