<!doctype html>
<html>
  <head>
    <title>FakeCord</title>

    <link rel="icon" href="/static/assets/fakecord.png">
    <link rel="stylesheet" href="/static/style/global.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <link rel="stylesheet" href="/static/style/channel.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">

    <script src="/static/scripts/script.js"></script>
    <script src="/static/scripts/metadata.js"></script>
    <script src="/static/scripts/channelHistory.js"></script>
  </head>
  <body>
    <script>
      window.onload = function() {
        getConfig()
          .then(data => {
            getAuthenticatedUser(data.config)
            getGuildData(data.config)
            getChannelData(data.config)
              .then(channels => {
                getChannelMeta(data.config, "{{channel_id}}", channels)
                document.getElementById("{{channel_id}}").scrollIntoView({
                  behavior: 'auto',
                  block: 'center',
                  inline: 'center'
                })
              })
            getChannelHistory(data.config, "{{channel_id}}")
              .then(x => {
                var container = document.getElementById("channelContent")
                scroll(container)
                container.addEventListener("scroll", function() {
                  if (container.scrollTop == 0) {
                    var last = container.children[0]
                    getChannelHistory(data.config, "{{channel_id}}", last.id)
                      .then(x => {
                        last.scrollIntoView()
                      })
                  }
                })
              })
          })
      }
    </script>
    <div class="channel-container" id="channelContainer"></div>
    <div class="content-container">
      <div class="channel-banner">
        <div class="channel-icon-container"><img id="channelIcon" style="border-radius: 10%" src="/static/assets/loading.png"></div>
        <div class="channel-name" id="channelName">Loading...</div>
      </div>
      <div class="channel-content" id="channelContent"></div>
      <div class="channel-input-container">
        <input class="channel-input" id="channelInput" autocomplete="off" spellcheck="false">
      </div>
    </div>
    <div class="menu-container centered-children-vert">
      <a class="menu-avatar-container home-button" href="/"><img style="border-radius: 10%" src="/static/assets/fakecord.png"></a>
      <div class="menu-avatar-container"><img id="menuAvatar" style="border-radius: 50%" src="/static/assets/loading.png"></div>
      <div class="menu-text-container centered-children">
        <div class="menu-text-username">Loading...</div>
        <div class="menu-text-status">Loading...</div>
      </div>
    </div>
    <div class="guild-container centered-children-vert" id="guildContainer"></div>
  </body>
</html>
